/* Googlefont Poppins CDN Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.sidebar {
  position: fixed;
  overflow: auto;
  height: 100%;
  width: 285px;
  background: #33444c;
  transition: all 0.5s ease;
}

.sidebar.active {
  width: 66px;
}

.sidebar .logo-details {
  height: 40px;
  /* margin-top: 5px; */
  display: flex;
  align-items: center;
  /* justify-content: start; */
  word-wrap: break-word;
}

.sidebar .logo-details i {
  font-size: 28px;
  font-weight: 500;
  color: #fff;
  min-width: 60px;
  text-align: center;
}

.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  margin-top: 8px;
}

.sidebar .nav-links {
  margin-top: 10px;
}

.sidebar .nav-links li {
  position: relative;
  list-style: none;
}

.sidebar .nav-links li a {
  height: 40%;
  width: 80%;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}

.sidebar .nav-links li a.active {
  background: #2a363d;
}

.sidebar .nav-links li a:hover {
  background: #2a363d;
}

#logo-ul li a{
  background: #6675de;
  padding: 0;
}
#logo-ul li a:hover{
  background: #6675de;
  padding: 0;
}

.sidebar .nav-links li i {
  min-width: 60px;
  font-weight: 600;
  text-align: center;
  font-size: 16px;
  color: #fff;
}

.sidebar .nav-links li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  white-space: nowrap;
}

.sidebar .nav-links .log_out {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.Logo-text {
  color: #fff;
  font-size: 22px;
  white-space: nowrap;
}

#header-button {
  border: 1px solid #a1a1a1;
}

.admin_btn{
  color: #fff;
  margin-top: 10px;
}

#page-header {
  background-color: #ededed !important;
  padding: 0 20px;
  height: 62px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.top-bar-heading {
  padding-top: 15px;
  font-size: 20px;
}

.home-section {
  position: relative;
  background: #f4f4f4;
  min-height: 100vh;
  width: calc(100% - 280px);
  left: 180px;
  transition: all 0.5s ease;
}

.sidebar.active ~ .home-section {
  width: calc(100% - 60px);
  left: 60px;
}

.home-section nav {
  height: 40px;
  background-color: #6675de;
  align-items: center;
  position: fixed;
  width: calc(100% - 280px);
  left: 180px;
  z-index: 100;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}

.sidebar.active ~ .home-section nav {
  left: 60px;
  width: calc(100% - 60px);
}

.home-section nav .sidebar-button {
  display: flex;
  color: #fff;
  font-weight: 400 !important;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}

nav .sidebar-button i {
  font-size: 35px;
  margin-right: 10px;
  margin-top: 10px;
}

.home-section nav .search-box {
  position: relative;
  height: 50px;
  max-width: 550px;
  width: 100%;
  margin: 0 20px;
}

nav .search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  background: #f5f6fa;
  border: 2px solid #efeef1;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
}

nav .search-box .bx-search {
  position: absolute;
  height: 40px;
  width: 40px;
  background: #2697ff;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  transition: all 0.4 ease;
}

.home-section nav .profile-details {
  display: flex;
  align-items: center;
  background: #f5f6fa;
  border: 2px solid #efeef1;
  border-radius: 6px;
  height: 50px;
  min-width: 190px;
  padding: 0 15px 0 2px;
}

nav .profile-details img {
  height: 40px;
  width: 40px;
  border-radius: 6px;
  object-fit: cover;
}

nav .profile-details .admin_name {
  font-size: 15px;
  font-weight: 500;
  color: #333;
  margin: 0 10px;
  white-space: nowrap;
}

nav .profile-details i {
  font-size: 25px;
  color: #333;
}

.home-section .home-content {
  position: relative;
  padding-top: 80px;
}

/* Responsive Media Query */
@media (max-width: 1240px) {
  .sidebar {
    width: 60px;
  }

  .sidebar.active {
    width: 220px;
  }

  .home-section {
    width: calc(100% - 60px);
    left: 60px;
  }

  .sidebar.active ~ .home-section {
    overflow: hidden;
    left: 220px;
  }

  .home-section nav {
    width: calc(100% - 60px);
    left: 60px;
  }

  .sidebar.active ~ .home-section nav {
    width: calc(100% - 220px);
    left: 220px;
  }
}

@media (max-width: 1150px) {
  .home-content .sales-boxes {
    flex-direction: column;
  }

  .home-content .sales-boxes .box {
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 30px;
  }

  .home-content .sales-boxes .top-sales {
    margin: 0;
  }
}

@media (max-width: 1000px) {
  .overview-boxes .box {
    width: calc(100% / 2 - 15px);
    margin-bottom: 15px;
  }
}

@media (max-width: 700px) {
  /* nav .sidebar-button .dashboard,
  nav .profile-details .admin_name,
  nav .profile-details i {
    display: none;
  } */

  .home-section nav .profile-details {
    height: 50px;
    min-width: 40px;
  }

  .home-content .sales-boxes .sales-details {
    width: 560px;
  }
}

@media (max-width: 550px) {
  .overview-boxes .box {
    width: 100%;
    margin-bottom: 15px;
  }

  .sidebar.active ~ .home-section nav .profile-details {
    display: none;
  }
}

@media (max-width: 500px) {
  .sidebar {
    width: 0;
  }

  .sidebar.active {
    width: 60px;
  }

  .home-section {
    width: 100%;
    left: 0;
  }

  .sidebar.active ~ .home-section {
    left: 60px;
    width: calc(100% - 60px);
  }

  .home-section nav {
    width: 100%;
    left: 0;
  }

  .sidebar.active ~ .home-section nav {
    left: 60px;
    width: calc(100% - 60px);
  }
}

.sidebar ul {
  padding-left: 0rem !important;
}

.center .dropdown-toggle::after {
  display: none;
}

/* Horizontal Scrollbar */
.sidebar::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

/* Track */
.sidebar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.sidebar::-webkit-scrollbar-thumb {
  background: #747474;
  border-radius: 10px;
}

/* Handle on hover */
.sidebar::-webkit-scrollbar-thumb:hover {
  background: rgb(146, 145, 145);
}

/* Hide vertical scrollbar */
.sidebar::-webkit-scrollbar-vertical {
  display: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb-vertical:hover {
  background: rgb(146, 145, 145);
}

.btn-button {
  color: #fff;
  padding: 0.5rem 0.9rem;
  font-weight: 600;
  background-color: #6675de;
  border-color: #6675de;
}

.btn-button i {
  font-weight: 600;
}
.btn-button:hover {
  color: #fff;
  background-color: #6675de;
  border-color: #6675de;
}
.btn-check:focus + .btn-button,
.btn-button:focus {
  color: #fff;
  background-color: #6675de;
  border-color: #6675de;
  box-shadow: 0 0 0 0.25rem #6674def1;
}
.btn-check:checked + .btn-button,
.btn-check:active + .btn-button,
.btn-button:active,
.btn-button.active,
.show > .btn-button.dropdown-toggle {
  color: #fff;
  background-color: #6675de;
  border-color: #6675de;
}
.btn-check:checked + .btn-button:focus,
.btn-check:active + .btn-button:focus,
.btn-button:active:focus,
.btn-button.active:focus,
.show > .btn-button.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem #2d44f1;
}
.btn-button:disabled,
.btn-button.disabled {
  color: #fff;
  background-color: #5b68ca;
  border-color: #99a4f8fa;
}

.btn-button-check:checked + .btn-button,
.btn-button.active,
.btn-button.show,
.btn-button:first-child:active,
:not(.btn-button-check) + .btn-button:active {
  background-color: #5b6df1;
  border-color: #2d44f1;
  color: #fff;
}

/* Download Button */
.btn-button1 {
  color: #fff;
  padding: 0.5rem 0.9rem;
  font-weight: 600;
  background-color: #668D47;
  border-color: #668D47;
}

.btn-button1 i {
  font-weight: 600;
}
.btn-button1:hover {
  color: #fff;
  background-color: #668D47;
  border-color: #668D47;
}
.btn-check:focus + .btn-button1,
.btn-button1:focus {
  color: #fff;
  background-color: #668D47;
  border-color: #668D47;
  box-shadow: 0 0 0 0.25rem #668D47;
}
.btn-check:checked + .btn-button1,
.btn-check:active + .btn-button1,
.btn-button1:active,
.btn-button1.active,
.show > .btn-button1.dropdown-toggle {
  color: #fff;
  background-color: #668D47;
  border-color: #668D47;
}
.btn-check:checked + .btn-button1:focus,
.btn-check:active + .btn-button1:focus,
.btn-button1:active:focus,
.btn-button1.active:focus,
.show > .btn-button1.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem #668D47;
}
.btn-button1:disabled,
.btn-button1.disabled {
  color: #fff;
  background-color: #668D47;
  border-color: #668D47;
}

.btn-button1-check:checked + .btn-button1,
.btn-button1.active,
.btn-button1.show,
.btn-button1:first-child:active,
:not(.btn-button1-check) + .btn-button1:active {
  background-color: #668D47;
  border-color: #668D47;
  color: #fff;
}

.btn-border {
  padding: 0.5rem 0.9rem;
  border: 1px solid #424242;
}

.btn-border:hover {
  border: 1px solid #424242;
  background-color: #cac8c8;
}

table.dataTable thead > tr {
  white-space: nowrap;
}

.btn-normal:hover {
  background-color: #e7e5e5 !important;
  border-radius: 0px;
}

.headColor {
  color: #6675de;
  font-weight: 400 !important;
  font-size: 19px;
  margin-bottom: 0px;
}

.iconInputBackground{
  background-color: transparent;
}

/* MultiStepFrom  */
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root {
  color: #6675de !important;
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
  color: #6675de !important;
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
  color: #6675de !important;
}

/* thead tr th {
  font-size: 14px !important;
  font-weight: 600 !important;
} */

tbody tr td {
  font-size: 14px !important;
  font-weight: 500 !important;
}

tbody tr th {
  font-size: 14px !important;
  font-weight: 600 !important;
}

.links_names {
  font-size: 14px !important;
}

a:hover {
  color: #424242;
}

/* p {
  font-size: 14px;
} */

label {
  font-size: 14px !important;
}

.badges-Green {
  background-color: #668d47 !important;
  font-weight: 500;
}

.badges-Orange {
  background-color: #e37343 !important;
  font-weight: 500;
}

.badges-Yellow {
  background-color: #ffba32 !important;
  font-weight: 500;
}

.badges-Red {
  background-color: #f94c4c !important;
  font-weight: 500;
}

.badges-Brown {
  background-color: #ae4f3a !important;
  font-weight: 500;
}

.badges-LightGreen {
  background-color: #46b28b !important;
  font-weight: 500;
}

.badges-Ash {
  background-color: #787878 !important;
  font-weight: 500;
}

.badges-Blue {
  background-color: #d8d52b !important;
  font-weight: 500;
}
